div
{
	height: 150px;
	width: 150px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 5s;
	animation-fill-mode: both;                 /*backwards;forwards*/
}
@keyframes example
{
	from{top: 0px;}
	to{top: 200px; background-color: blue;}
}